"MessageSortedSink" : { 
  "#id" : 1, 
  "name" : "sink", 

  // messages older than this lag that will be blasted, no matta what
  "oblivion_interval" : 5, 
  "push_sinks" : [ { 
  "#pointer" : 2
 } ], 

  // name of the transform tree to subscribe to
  "tf_topic" : "", 

  // lag time to sort messages
  "time_interval" : 1, 

  // if set prints crap
  "verbose" : 0
 }

"MessageROSBagSource" : { 
  "#id" : 3, 
  "name" : "rosbag", 

  // file to read
  "filename" : "/root/share/dataset/NewerCollege/stairs/bag/stairs.bag", 
  "topics" : [ "/os_cloud_node/points", "/loam_opensource" ], 

  // verbose
  "verbose" : 1
 }

"PipelineRunner" : { 
  "#id" : 4, 
  "name" : "runner", 
  "push_sinks" : [ { 
  "#pointer" : 1
 } ], 

  // the source of the pipeline
  "source" : { 
    "#pointer" : 3
   }, 

  // name of the transform tree to subscribe to
  "tf_topic" : ""
 }

"PointCloudProc" : { 
  "#id" : 2, 
  "name" : "point_cloud_proc", 
  "push_sinks" : [  ], 

  "clouds_to_process" : 1190,
  "decimate_real_data" : 2,
  "clouds_to_skip" : 0,
  "iter_num" : 10,
  "robustifier_huber_chi" : 0.1,

  "add_one_odom_factor" : 1,
  "max_dst_DA": 0.5,
  "max_dst_norm_DA": 1.0,
  "max_angle_DA" : 5.0,

  // Just name of the folder ie. quad_easy, it will automatically create quad_easy_2 etc
  "output_folder" : "stairs",
  // Just for information purposes, should be the same as in MessageROSBagSource
  "odom_topic" : "/loam_opensource" 
 }
