"MessageSortedSink" : { 
  "#id" : 1, 
  "name" : "sink", 

  // messages older than this lag that will be blasted, no matta what
  "oblivion_interval" : 5, 
  "push_sinks" : [ { 
  "#pointer" : 2
 } ], 

  // name of the transform tree to subscribe to
  "tf_topic" : "", 

  // lag time to sort messages
  "time_interval" : 1, 

  // if set prints crap
  "verbose" : 0
 }

"MessageROSBagSource" : { 
  "#id" : 3, 
  "name" : "rosbag", 

  // file to read
  "filename" : "math_easy_merged.bag", 
  "topics" : [ "/os_cloud_node/points", "/loam_opensource" ], 

  // verbose
  "verbose" : 1
 }

"PipelineRunner" : { 
  "#id" : 4, 
  "name" : "runner", 
  "push_sinks" : [ { 
  "#pointer" : 1
 } ], 

  // the source of the pipeline
  "source" : { 
    "#pointer" : 3
   }, 

  // name of the transform tree to subscribe to
  "tf_topic" : ""
 }

"PointCloudProc" : { 
  "#id" : 2, 
  "name" : "point_cloud_proc", 
  "push_sinks" : [  ], 

  // radius
  "radius" : 2, 

  // name of the transform tree to subscribe to
  "tf_topic" : ""
 }

